services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "8080:8080"
    develop:
      watch:
        - action: sync
          path: ./nginx
          target: /usr/share/nginx/html
  nginx-exporter:
    build: ./nginx_exporter
    command: ["-nginx.scrape-uri=http://nginx:8080/stub_status"]
    ports:
      - "9113:9113"
    depends_on:
      - nginx
  node-exporter:
    build: ./node_exporter
    ports:
      - "9100:9100"

  prometheus:
    build: ./prometheus
    ports:
      - "9090:9090"
    depends_on:
      - nginx-exporter 
      - node-exporter

  grafana:
    build: ./grafana
    ports:
      - "3000:3000"     
    depends_on:
      - prometheus  